<!DOCTYPE html>
<html lang="en">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{! Styles'n'Scripts }}
	<link href="{{asset "css/materialize.css"}}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="{{asset "css/prettify.css"}}"	 type="text/css" rel="stylesheet" />
	<link href="{{asset "css/style.css"}}"		 type="text/css" rel="stylesheet" media="screen,projection"/>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} ">

    {{navigation}}

	{{! Everything else gets inserted here }}
	{{{body}}}	  
	
	{{> "footer"}}
	
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript files }}
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{{asset "js/materialize.js"}}"></script>
	<script src="//google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
	<script src="{{asset "js/init.js"}}"></script>

</body>
</html>
